<footer class="mt-5">
    <p class="text-center">Developed by <span>Stephen</span></p>
    <ul class="text-center">
        <li><a href=""><i class="fab fa-facebook-square fa-3x"></i></a></li>
        <li><a href=""><i class="fab fa-twitter-square fa-3x"></i></a></li>
        <li><a href=""><i class="fab fa-github fa-3x"></i></a></li>
    </ul>
</footer>