<section id="main">
    <div id="img-wrapper">
        <div id="text-info" class="text-center">
            <p class="lead">When you write down your ideas you automatically focus your full attention on them....</p>
        </div>
    </div>
</section>
