{{#if user}}
{{else}}
<section id="main">
    <div id="img-wrapper">
        <div id="text-info" class="text-center">
            <p class="lead">When you write down your ideas you automatically focus your full attention on them....</p>
            <div id="btn-wrapper">
                <a href="/users/register" class="btn btn-blue btn-secondary">Register</a>
                <a href="/users/login" class="btn btn-blue btn-primary">Login</a>

            </div>
        </div>
    </div>
</section>
{{/if}}