body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

/* Navbar styles */
.navbar {
    background: #1C7CE0 !important;
}

.nav-link {
    border: 1px solid transparent;
}


input[type='text'],
input[type='password'],
input[type='email'] {
    font-size: 12px;
}

div>label {
    font-weight: 600;
}

i {
    color: #9f8686;
}

#text-info {
    /* background: #cca1e0; */
    background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
    padding: 40px;
    color: #fff;
    margin-bottom: 40px;
}

/*----------------------------
        Buttons
------------------------------*/
.btn-auth {
    width: 120px;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
}

a.btn-signup {
    width: 120px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgb(255, 255, 255);
    border-radius: 30px;
    border-style: solid;
    color: #fff;
}

.button-note {
    height: 30px;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
}

.btn-auth:hover,
.btn-auth:focus {
    /* color: #2a2730 !important; */
    background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
    font-weight: bolder;
    color: ghostwhite !important;
    border: 1px solid #fff;
}

#btn-delete,
#btn-edit,
#btn-view {
    float: left;
    margin-right: 10px;
}


/*----------------------------
        Footer styles
------------------------------*/

footer ul {
    list-style: none;
}

footer ul li {
    display: inline-block;
    margin-left: 10px;
}

footer ul li a:hover {
    color: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);

}

footer span {
    color: #0072ff;
    cursor: pointer;
}

footer p {
    font-size: 12px;
}

/*----------------------------
        Notes section
------------------------------*/

#notes-wrapper .row {
    background: #f6f6f6;
    margin-top: 50px;
    padding: 20px;
}

#notes-wrapper .card:hover,
#notes-wrapper .card:focus {
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.13), 0 6px 6px rgba(233, 233, 233, 0.23);
    transition-duration: .5s;
    transition-delay: 0.05s;
}

#notes-wrapper .card-title, .card-header {
    font-size: 14px;
    color: #0366d6;
}

#wrapper .card {
    height: 200px;
}