body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

/* Navbar styles */
a.btn-signup {
    width: 120px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgb(255, 255, 255);
    border-radius: 30px;
    border-style: solid;
    color: #fff;
}

input[type='text'],
input[type='password'],
input[type='email'] {
    font-size: 12px;
}

div>label {
    font-weight: 600;
}

/* Notes styles */
#img-add {
    width: 50px;
    margin: 30px auto;
}

#btn-delete,
#btn-edit,
#btn-view {
    float: left;
    margin-right: 10px;
}
.btn-sm{
    height: 20px;
    font-size:10px;
    text-align: center;
    font-weight: bold;
}