{{#if note}}
<div class="row ">
    <div class="card mx-auto" style="width:600px"">
        <div class="card-header">{{note.title}}</div>
            <div class="card-body">
                <p class="card-text">{{note.notes}}</p>
            </div>
    </div>
</div>
{{/if}}